@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body,html{
  background: white;
  font-family: 'Slabo',sans-serif;
  font-weight:700;
  position: fixed;
  overflow: hidden;
}

h1{
  font-size: 100px;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.row{
  margin: 15vh auto 0;
}

.game{
  height: 100% auto 0;
  width: 100% auto 0;
  display: inline-table;
  margin-left: 500px;
}

.col-xs-6{
  height: 250px;
  width: 250px;
  border-color: black;
  border-radius: 12px;
  border-width: 5px;
  border-style: solid;
}

.col-xs-8{
  height: 250px;
  width: 250px;
  border-color: black;
  border-radius: 12px;
  border-width: 5px;
  border-style: solid;
  text-align: center;
  padding-top: 30%;
  color: white;
}

#empty{
  padding-top: 20%;
}

#white, #empty{
  background: black;
  color: white;
}

.arrow{
  margin-top:30%;
  height:60%;
  width:100%;
}

.text{
  position:fixed;
  top:12.5%;
  margin:0 auto;
  left:0;right:0;
  width:300px;
  text-align:center;
  cursor:default;
  z-index:5;
}

.buttons{text-align:center;}

.btn{background:#40B5BF;color:#ecf0f1;font-size:1.6em;font-weight:bold;margin:15px 5px; font-family:'Slabo' }
.btn:hover,.btn:focus,.btn:active{background:#40B5BF;color:#ecf0f1;}
/*
.col-xs-6{
  height:50%;
  border-radius: 12px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

/*
.col-xs-12{
  padding:0;
}



#white, #empty{
  cursor:default;
  background: black;
  text-align:center;
  font-size:36px;
  z-index:2;
  color: white;
}

.text{
  position:fixed;
  top:12.5%;
  margin:0 auto;
  left:0;right:0;
  width:300px;
  text-align:center;
  cursor:default;
  z-index:5;
}

h1{
  color:#2c3e50;
  font-size:84px;
}

.buttons{text-align:center;}

.btn{background:#40B5BF;color:#ecf0f1;font-size:1.6em;font-weight:bold;margin:15px 5px; font-family:'Slabo' }
.btn:hover,.btn:focus,.btn:active{background:#40B5BF;color:#ecf0f1;}
